<!DOCTYPE html>
html(lang="ja")
	head
		meta(charset="utf-8")
		title Corder
		link(rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		link(rel="stylesheet" href="main.css")
	body
		header.navbar
			.left
				.level-selector#lvSelector
					.label 課題
					.select#lvSelect
						.value Lv.1 線を踏んだら車両を止めよう！
					.dropdown#lvDropdown
						.item(data-level="1") Lv.1 線を踏んだら車両を止めよう！
						.item(data-level="2") Lv.2 線を踏んだらバックして右旋回させよう！
						.item(data-level="3") Lv.3 線からはみ出ないように走ってみよう！
			.right
				button.navbar-btn.generate#genCode(data-clipboard-text="Null")
					span.ion-ios-copy-outline
				.navbar-btn.open-cs#openCS
					span.ion-code
				.navbar-btn.clear#clear
					span.ion-trash-a
		.main-content
			textarea#editor.editor.scrollbar-blue(placeholder="// Easy Driving Robot Editor\nif(center == black) {\n\tcar.stop;\n} else {\n\tcar.fwd;\n}" spellcheck="false")
			pre
				code#result.result.scrollbar-blue.cpp
		.cheatsheet#cheatsheet
			.container
				h3
					span.ion-ios-arrow-forward
					| ドキュメント
				.body
					h4
						span.ion-network
						| 条件分岐
					ul
						li
							code center
							p 中央のフォトリフレクタ
						li
							code left
							p 左側のフォトリフレクタ
						li
							code right
							p 右側のフォトリフレクタ
						li
							code black
							p センサが黒を検知している状態
						li
							code white
							p センサが白を検知している状態
						li
							code if(all)
							p 条件分岐がない場合に必ず記述
						li
							p.note
								| 演算子は
								code ==
								code &&
								| のみ使用できます

					h4
						span.ion-gear-b
						| 動作
					ul
						li
							code car.fwd;
							p 前進させる
						li
							code car.rev;
							p 後進させる
						li
							code car.stop;
							p 停止させる
						li
							code car.right;
							p 右旋回させる
						li
							code car.left
							p 左旋回させる
						li
							code car.fwd.slow;
							p 低速前進させる
						li
							code car.rev.slow;
							p 低速後進させる
						li
							code car.left.ra
							p 左旋回（直角）させる
						li
							code car.left.ra
							p 右旋回（直角）させる
						li
							code led.flash
							p 中央のLEDを点滅させる
						li
							code led.end
							p LEDのイベントを止める
					h4
						span.ion-cube
						| キーボードショートカット
					ul
						li
							kbd ctrl + s
							p コンパイル結果をクリップボードにコピーします
						li
							kbd ctrl + shift + c
							p コンパイル結果をクリップボードにコピーします
						li
							kbd alt + w
							p エディタの中身を消去します
					h4
						span.ion-android-warning
						| 注意事項
					ul
						li
							p.note
								| 動作のみの場合は必ず
								code if(all)
								| を記述してください
						li
							p.note
								| 仕様上、条件分岐をネストすることはできません。
								| ネストが必要な場合は
								code &&
								| で条件をつなげてください
						li
							p.note
								| デバッグはガバガバなのでそこんとこよろしく


		script(src="bundle.js")